$blue-dark-color: #232f3e;

.card-main {
    .card-wrapper {
        border-radius: 4px;

        .s-title {
            font-size: 0.8rem;
            color: #292929;
            font-weight: bold;
        }
        .s-value {
            font-size: 0.8rem;
            color: #676767;
        }
        .card-header {
            padding: 14px;
            font-size: 1.1rem;
        }
        .card-body {
            padding: 14px;
        }
        .card-footer {
            padding: 14px;
            // color:#fff;
            // background-color: $blue-dark-color;
        }
    }
    .loading{
        padding: 14px;
    }
}
